html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ebebeb;
    margin: 0;
    overflow-x: hidden;
}

#root {
    position: relative;
    height: 100%;
}

.flex-column {
    height: 100%;
}

p {
    font-size: 16pt;
    padding: 0 50px;
}

button {
    height: 8vh;
    width: calc(100% / 6);
    border: none;
    font-size: clamp(2rem, 2.2vw, 3.5rem);
    text-shadow: rgba(0,0,0,0.5) 4px 4px 2px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-behind {
    content: "";
    width: calc(100% / 6);
    height: 35px;
    z-index: -1;
}

.top-bar a:hover button {
    transform: translateY(20px);
}

/* Getting colors onto each link */
.music-btn {
    color: #f2f2f2;
    background-color: #BC5050;
}
.music-behind {
    background-color: #9c3636;
    position: absolute;
    left: 0;
}

.webdev-btn {
    color: #f2f2f2;
    background-color: #A25CA4;
}
.webdev-behind {
    position: absolute;
    left: calc(100% / 6);
    background-color: #8c3e8f;
}

.games-btn {
    color: #f2f2f2;
    background-color: #8E9F69;
}
.games-behind {
    position: absolute;
    left: calc(100% / 3);
    background-color: #76884e;
    
}

.about-btn {
    color: #f2f2f2;
    background-color: #5068BC;
}
.about-behind {
    position: absolute;
    right: calc(100% / 3);
    background-color: #364da0;
}

.resume-btn {
    color: #4d4d4d;
    background-color: #DCE478;
    text-shadow: none;
}
.resume-behind {
    position: absolute;
    right: calc(100% / 6);
    background-color: #bbc25e;
}

.contact-btn {
    color: #f2f2f2;
    background-color: #EA8E5B;
}
.contact-behind {
    position: absolute;
    right: 0;
    background-color: #c96b39;
}


/* HOMEPAGE STYLING */


.header {
    max-height: 125px;
}

.banner-wrapper {
    height: 125px;
    background-image:
        linear-gradient(to right, #000, rgba(0,0,0,0) 40%),
        url('../public/images/banner.jpg');
    background-size: cover;
}
.banner-img {
    height: 100%;
}

h1 {
    position: absolute;
    top: 0;
    color: #f0f0f0;
    font-size: clamp(5rem, 6vw, 7vw);
    text-shadow: 5px 5px black;
    margin: 0 10px;
}

.avatar-box {
    height: 35vh;
    width: 35vh;
    min-height: 35vh;
    min-width: 35vh;
    border-radius: 50%;
    overflow: hidden;
}

img {
    height: 100%;
}

.divider-line {
    display: inline-block;
    height: 40vh;
    margin: 0 4vw;
    border-right: 1px solid #a3a3a3;
}

h2 {
    color: #656565;
    font-size: clamp(1.5rem, 2vw, 4vw);
    margin: 0;
}

.welcome-box {
    margin: 20px;
    max-width: 150px;
}

@media screen and (max-width: 975px) {
    
    button {
        height: clamp(70px, 3vw, 5vw);
        font-size: clamp(1.7rem, 5.5vw, 3rem);
    }

    .top-bar a:hover button {
        transform: none;
    }
    .bottom-bar a:hover button,
    .bottom-bar-home a:hover button {
        transform: none;
    }

    .divider-line {
        display: none;
    }

    .middle {
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: clamp(10px, 5vh, 9vh);
    }

    h1 {
        margin-top: clamp(5px, 2vh, 3vh);
        font-size: clamp(50pt, 11vw, 11vw);
    }

    h2 {
        font-size: clamp(1.5rem, 3vw, 6vw)
    }
}