:root {
    --p-darkest: #150025;
    --p-darker: #270046;
    --p-dark: #3b0068;
    --p-light: #c16fff;
    --p-lighter: #d195ff;
    --p-lightest: #efdbff;

    --sonic-silver: #757780ff;
    --sage: #d2cca1ff;
    --ming: #387780ff;
    --timberwolf: rgb(234, 228, 238);
    --amaranth: #e83151ff;
}

body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--p-dark);
    background-color: var(--timberwolf);
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--p-dark);
    height: 90px;
}

header h1 {
    /* padding: 15px 40px 15px 100px; */
    justify-self: baseline;
    margin-left: 40px;
    color: var(--p-lightest);
    font-size: 100px;
}

a, a:visited {
    color: var(--p-lightest);
}

nav {
    /* margin: 20px; */
    margin-right: 30px;
}

nav a {
    font-size: 30px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bolder;
    transition: all 0.25s ease-out;
}

nav a:hover {
    color: var(--p-darkest);
    background-color: var(--p-lightest);
}

.hero-banner {
    position: relative;
}

.hero-banner img {
    width: 100%;
}

.hero-banner h2 {
    position: absolute;
    right: 5%;
    bottom: 10%;
    color: var(--p-lightest);
    background-color: var(--p-darker);
    padding: 20px;
}


/* main body flexboxes below! */

main > section {
    display: flex;
    flex-direction: row;
}

/* .about-me-section {
    display: flex;
    flex-direction: row;
    flex: 
}

.works-section {
    display: flex;
    flex-direction: row;
}
*/

.works-imgs-container {
    display: flex;
    flex-flow: row wrap;
}

/*
.contact-section {
    display: flex;
    flex-direction: row;
} */

section > h3 {
    flex: 1 1 auto;
}

 {
    flex: 3 1 auto;
}

.contact-section a {
    display: block;
    color: var(--p-darkest);
    text-decoration: none;
}