:root {
    --select: #2ac9e662;
    --music: #BC5050;
    --webdev: #A25CA4;
    --games: #8E9F69;
    --about: #5068BC;
    --resume: #DCE478;
    --contact: #EA8E5B;
}
  
::selection {
    background: var(--select);
}
::-moz-selection {
    background: var(--select);
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ebebeb;
    margin: 0;
    overflow-x: hidden;
}

#root {
    height: 100%;
}




  /************************/
 /* HEADER STYLING BELOW */
/************************/

.header {
    display: flex;
    align-items: center;
    max-height: 125px;
}

.banner-wrapper {
    height: 125px;
    width: 100%;
    background-image:
        linear-gradient(to right, #000, rgba(0,0,0,0) 60%),
        url('../public/images/banner.jpg');
    background-size: cover;
}
.banner-img {
    height: 100%;
    z-index: -2;
}

.avatar-img {
    position: absolute;
    right: 20px;
    height: 90px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 5px 10px #000;
}
.hello {
    display: none;
    position: absolute;
    right: 130px;
    background-color: white;
    font-family: sans-serif;
    font-size: 20pt;
    padding: 6px 12px 6px 12px;
    border-radius: 10px;
}
.avatar-img:hover + span {
    display: initial;
}

.avatar-img-body-home {
    display: none;
}

h1 {
    font-family: 'Aleo', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(#f7f7f7 25%, #e7e7e7, #2b2b2b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(2.3rem, 5vw, 6vw);
    line-height: 135px;
    padding-left: 20px;
    margin: auto;
    filter:
        drop-shadow(5px 0 #000)
        drop-shadow(2px 0 #000)
        drop-shadow(-5px 0 #000)
        drop-shadow(-2px 0 #000)
        drop-shadow(0 5px #000)
        drop-shadow(0 2px #000)
        drop-shadow(0 -2px #000000)
        drop-shadow(0 -5px #000000);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

h2 {
    font-family: 'Aleo';
    text-align: center;
}

h3,
h4,
p,
a {
    font-family: 'Alegreya Sans';
    text-align: center;
}




  /************************/
 /* NAVBAR STYLING BELOW */
/************************/

.menu-header {
    display: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    height: 70px;
    width: calc(100% / 6);
    border: none;
    font-size: clamp(1.3rem, 2.2vw, 3.5rem);
    text-shadow: rgba(0,0,0,0.5) 4px 4px 2px;
    cursor: pointer;
    transition: transform 0.2s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-behind {
    content: "";
    width: calc(100% / 6);
    height: 70px;
    z-index: -1;
}

nav a:hover button,
.btn-behind:hover + button {
    transform: translateY(15px);
}

/* Getting colors onto each link */
.music-btn {
    color: #f2f2f2;
    background-color: var(--music);
}
.music-behind {
    background-color: #9c3636;
    position: absolute;
    left: 0;
}

.webdev-btn {
    color: #f2f2f2;
    background-color: var(--webdev);
}
.webdev-behind {
    position: absolute;
    left: calc(100% / 6);
    background-color: #8c3e8f;
}

.games-btn {
    color: #f2f2f2;
    background-color: var(--games);
}
.games-behind {
    position: absolute;
    left: calc(100% / 3);
    background-color: #76884e;
    
}

.about-btn {
    color: #f2f2f2;
    background-color: var(--about);
}
.about-behind {
    position: absolute;
    /* idk why, but when there's a vertical scroll bar present,
    this span sometimes renders one pixel short. This seems
    to fix that. */
    width: calc(100% / 6 + 1px);
    z-index: -2;
    background-color: #364da0;
}

.resume-btn {
    color: #4d4d4d;
    background-color: var(--resume);
    text-shadow: none;
}
.resume-behind {
    position: absolute;
    right: calc(100% / 6);
    background-color: #bbc25e;
}

.contact-btn {
    color: #f2f2f2;
    background-color: var(--contact);
}
.contact-behind {
    position: absolute;
    right: 0;
    background-color: #c96b39;
}




  /*****************************/
 /* PAGE-BOTTOM STYLING BELOW */
/*****************************/

.back-btn {
    margin-top: 75px !important;
}

.back-btn,
.home-btn {
    display: block;
    z-index: 0;
    font-size: 20pt;
    text-shadow: none;
    font-family: 'Alegreya Sans', sans-serif;
    color: whitesmoke;
    background: -webkit-linear-gradient(0deg, #0044ff, #be0075);
    width: 175px;
    margin: 20px auto;
    border-radius: 15px;
    transition: all 1.1s ease;
}
.back-btn:hover,
.home-btn:hover {
    transform: scale(1.05);
    filter: hue-rotate(100deg);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.8);
}

.home-btn {
    background: -webkit-linear-gradient(0deg, #60d4d4, #9800be);
    width: 250px;
}




  /**************************/
 /* HOMEPAGE STYLING BELOW */
/**************************/

.homepage h2 {
    color: #383838;
    text-align: center;
    font-family: 'Fahkwang', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(3rem, 8vw, 8rem);
    margin: 30px;
}

.homepage h3 {
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    text-align: center;
    font-size: clamp(26pt, 5vw, 40pt);
    margin: 15px 0 25px 0;
    padding: 0 5%;
}

.homepage p {
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    text-align: center;
    font-size: clamp(16pt, 2.5vw, 24pt);
    padding: 0 50px;
    margin: 15px 0;
}

.homepage-ext-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 50px;
    margin-top: 45px;
    padding: 0 20px 75px 20px;
}
.ext-link {
    display: inline-block;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}
.ext-link-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.ext-link:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}




  /*************************************/
 /* ALL SUBPAGE DEFAULT STYLING BELOW */
/*************************************/

.subpage-main {
    margin: 0 auto;
    background:
        -webkit-linear-gradient(
            #000000,
            rgb(255, 255, 255));
    color: whitesmoke;
    width: clamp(15px, 80%, 900px);
    padding-top: 40px;
    padding-bottom: 100px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.subpage-main p {
    padding: 0 clamp(25px, 5vw, 450px);
    font-size: clamp(18pt, 4vw, 20pt);
}
.subpage-main p a {
    color: #6dffe7;
}

.subpage-main h2 {
    text-align: center;
    font-size: 48pt;
    margin-top: 0;
    margin-bottom: 10px;
}

.subpage-main h3 {
    text-align: center;
    font-size: 30pt;
}




  /***********************/
 /* MUSIC STYLING BELOW */
/***********************/





  /*************************/
 /* WEB DEV STYLING BELOW */
/*************************/

.webdev-main {
    background:
        -webkit-linear-gradient(
            var(--webdev),
            #831e56,
            #ee8e69 90%,
            #3d25a8);
}

.work-card {
    position: relative;
    margin: 20px 20px 100px 20px;
}

.work-card-body {
    background: -webkit-linear-gradient(#904bff, #25239c);
    height: 100%;
    padding: 10px 10px 40px 10px;
    border-radius: 25px;
}

h4 {
    font-size: 38pt;
    margin: 20px;
    transition: color 0.2s ease;
}

p.work-card-desc {
    font-size: 24pt;
}

p.work-card-tech {
    font-size: 20pt;
    color: #c2c2c2;
}

.work-card a,
.work-card a:visited {
    text-decoration: none;
    color: whitesmoke;
}

.work-card-img-box {
    position: relative; /* allows centering of magnifying glass */
    overflow: hidden; /* clips the blur effect */
    border-radius: 15px;
}

.work-card-img-box img {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    max-width: 100%;
    transition: filter 0.5s ease;
}

/* !! NOTE !! */
/* This styling is unused in the official release because it deals
   with Web Dev subpages, which have been removed from the site for now.
   I'm leaving their code in the project in case I find a use for them.
   Here, for example, when you hovered over the image a magnifying glass
   would appear over it, indicating it has more information which you
   can read by clicking on it. */
/* .work-card-img-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:
        url('../public/images/magnifying-glass.png')
        no-repeat
        center/12%;
    width: 100%;
    height: 100%;
    filter: opacity(0%);
    transition: all 0.5s ease;
}
.work-link:hover .work-card-img-box::after {
    filter: opacity(70%);
} */

.work-card .work-links-box {
    position: absolute;
    right: 0;
    bottom: -40px;
    display: flex;
    align-items: center;
}

.work-card a {
    display: inline-block;
    width: 15vw;
    border-radius: 10px;
    text-shadow: 3px 3px 5px black;
    transition: all 0.5s ease;
}

.work-card a.visit-link {
    font-size: 20pt;
    font-weight: bolder;
    color: rgb(241, 241, 241);
    background: -webkit-linear-gradient(#eb2366, #ffa970);
    padding: 25px 15px;
}

.work-card a.github-link {
    /* position: relative;
    top: 35px; */
    width: auto;
    color: black;
    background-color: white;
    margin-right: 20px;
    border-radius: 50px;
    transform-origin: right;
}
.work-card a.github-link img {
    display: block;
    max-height: 75px;
    padding: 5px;
}

.work-card a.visit-link:hover {
    padding: 30px 0;
    width: 20vw;
}
.work-card a.github-link:hover {
    transform: scale(1.2);
    top: 30px;
}






  /***********************/
 /* GAMES STYLING BELOW */
/***********************/





  /***********************/
 /* ABOUT STYLING BELOW */
/***********************/

.about-main {
    background:
        -webkit-linear-gradient(
            var(--about),
            #1e6f83,
            #d3255f);
}




  /************************/
 /* RESUME STYLING BELOW */
/************************/

.resume-main {
    color: #383711;
    background: 
        -webkit-linear-gradient(
            var(--resume),
            #76ce11,
            #2fe1ee
        );
}

.resume-main .resume-buttons-box {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.resume-main .resume-buttons-box a {
    display: inline-block;
    background-color: #fdffda;
    text-decoration: none;
    font-size: 20pt;
    padding: 20px;
    margin: 0 20px;
    border-radius: 15px;
}
.resume-main .resume-buttons-box a:hover {
    background-color: #d4d4d4;
    font-weight: bold;
    outline: 5px solid whitesmoke;
}

.resume-main .summary-header {
    font-size: 38pt;
    margin: 60px 0 0 0;
}

.resume-main h4 {
    font-size: 30pt;
    margin-top: 60px;
}

.resume-main > p {
    font-size: 22pt;
}

/* SKILL ITEM BASE STYLING */

.skill-item {
    font-family: 'Aleo';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    max-height: 65px;
    margin: 5px 0;
}

.skill-item p {
    display: inline;
    text-align: center;
    font-weight: bold;
    width: 150px;
    padding: 0 20px;
}

.skill-item .meter {
    position: relative;
    background:
        -webkit-linear-gradient(
            0deg,
            #000,
            #0400ff 10%,
            #ff0000
        );
    height: 15px;
    width: clamp(150px, 25vw, 300px);
    border-radius: 25px;
}

.skill-item .notch {
    position: absolute;
    top: -12px;
    color: white;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    /* outline: 2px solid #832323; */
    border-radius: 50%;
}




  /*************************/
 /* CONTACT STYLING BELOW */
/*************************/

.contact-main {
    color: whitesmoke;
    text-shadow: 0 0 75px rgba(167, 0, 0, 0.5);
    background: 
        -webkit-linear-gradient(
            var(--contact),
            #ce5d11,
            #e218c7
        );
}

.contact-main h3 {
    padding: 0 50px;
}

.contact-main h3 a {
    color: #bbdeff;
}

.contact-main p {
    font-size: 26pt;
}




  /**************************/
 /* NOTFOUND STYLING BELOW */
/**************************/

.notfound-main {
    padding-bottom: 75px;
}

.notfound-main h2 {
    font-size: 48pt;
    margin: 50px;
}

.notfound-main h3 {
    font-size: 24pt;
    padding: 0 40px;
    margin: 0;
}





  /************************/
 /* FOOTER STYLING BELOW */
/************************/

footer {
    position: fixed;
    bottom: 0;
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #09006C;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-top: 50px;
    z-index: 5;
}







  /***********************************/
 /* MOBILE BREAKPOINT STYLING BELOW */
/***********************************/


@media screen and (max-width: 700px) {

    h1 {
        filter:
            drop-shadow(3px 0 #000)
            drop-shadow(1px 0 #000)
            drop-shadow(-3px 0 #000)
            drop-shadow(-1px 0 #000)
            drop-shadow(0 3px #000)
            drop-shadow(0 1px #000)
            drop-shadow(0 -3px #000)
            drop-shadow(0 -1px #000);
    }

    .menu-display {
        display: initial;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;
        background: linear-gradient(to right, #45A8BD, #8F2985);
        cursor: pointer;
        transition: all 1s ease;
    }
    .menu-header:hover h3 {
        transform: scale(1.05);
    }

    nav a {
        display: none;
        width: 100%;
        z-index: 2;
    }

    nav button {
        font-size: 22pt;
        width: 100%;
        transition: all 0.2s ease;
    }

    nav a:hover button {
        transform: none;
        width: 90%;
    }

    .btn-behind {
        position: absolute;
        left: 0;
        height: 70px;
        width: 100%;
    }

    .menu-header {
        align-self: flex-start;
        display: flex;
        max-height: 60px;
        width: 100%;
    }
    .menu-text {
        color: whitesmoke;
        font-size: 24pt;
        line-height: 58px;
        margin: 0;
        transform-origin: left;
        transition: all 0.2s ease;
    }
    .menu-btn {
        color: whitesmoke;
        height: 36px;
        padding: 12px 16px;
        margin: 0;
    }

    .avatar-img,
    .avatar-img-top-home {
        display: none;
    }
    .avatar-img-body-home {
        display: block;
        position: static;
        margin: 10px auto;
        height: clamp(100px, 25vw, 150px);
    }

    .homepage h2 {
        margin: 5px;
    }



    .subpage-main {
        width: 100%;
    }

    .subpage-main p {
        font-size: 16pt;
        line-height: 1.4;
        padding: 0 30px;
    }


    .webdev-main .work-card {
        margin-bottom: 75px;
    }
    .webdev-main .work-card-body {
        padding-bottom: 70px;
    }

    .webdev-main a.visit-link {
        width: 100%;
        padding: 30px 30px;
        width: 20vw;
        /* transition: none; */
    }
    .webdev-main a.visit-link:hover {
        padding: 30px 50px;
    }



    /* RESUME PAGE STYLING */

    .resume-main .resume-buttons-box a {
        width: 80vw;
        margin: 15px 0;
    }

    .resume-main p {
        font-size: 22pt;
    }

    .resume-main .skills-list {
        padding-right: 35px;
    }


    /* CONTACT PAGE STYLING */

    .contact-main p {
        font-size: 26pt;
    }

}